<ul>
  <% @trip.errors.each do |column, msg| %>
    <li>
      <%= column.capitalize %> <%= msg %>
    </li>
  <% end %>
</ul>


<ul class="form">
  <%= form_for @trip, method: form_method do |f| %>
  <li><%= f.label :rating %> <%= f.select :rating, [[1,1],[2,2],[3,3],[4,4],[5,5]] %></li>
  <li><%= f.submit nil %></li>
  <% end %>
</ul>
