
<h2>Date: <%= @trip.date %> </h2>
<h2>Driver: <%= @trip.driver.name %></h2>
<h2>Rider: <%= @trip.rider.name %></h2>

<%= form_for @trip do |f| %>

  <%= f.label :rating %>
  <%= f.select :rating, [1, 2, 3, 4, 5] %>

  <%= f.submit action_name %>

<% end %>
