
<h1>Add a Trip</h1>


<section id = "_form_section">
  <%= form_for @trips do |f| %>



  <tr>
    <th>Rider</th>
    <td><%= f.select(:rider, Rider.all.map {|p| [p.name]} )%></td>
  </tr>

    <tr>
      <th>Date Created</th>
      <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
    </tr>


      <tr>
          <th>Driver</th>
          <td><%= f.select(:driver, Driver.all.map {|p| [p.name]} ) %></td>
        </tr>



    <div id = "_form_section_submit">
      <%= f.submit value: "SAVE"%>
    </div>

  <% end %>
</section>
