
<h1>Add a Trip</h1>




<section id = "_form_section">
  <%= form_for @trip , :url => { :action => "create" } do |f| %>


  <tr>
    <th>Rider</th>
    <td><%= f.label :rider_id, class: "label" %>
    <%= f.text_field :rider_id, class: "field"%> </td>
  </tr>

  <tr>
    <th>Date</th>
    <td><%= f.label :date, class: "label" %>
    <%= f.text_field :date, class: "field"%> </td>
  </tr>

    <tr>
      <th>Driver</th>
      <td><%= f.label :driver_id, class: "label" %>
      <%= f.text_field :driver_id, class: "field"%> </td>
    </tr>

      <!-- <tr>
          <th>Driver</th>
          <td><%= f.select(:driver, Driver.all.map {|p| [p.name]} ) %></td>
        </tr> -->

        <tr>
            <th>Rating</th>
            <td><%= f.select(:rating, Trip.all.map {|p| [p.rating]} ) %></td>
          </tr>



    <div id = "_form_section_submit">
      <%= f.submit value: "SAVE"%>
    </div>

  <% end %>
</section>
