<h2>Edit Trip <%= @trip.id %></h2>

<!-- <%#= render partial: "form", locals: { action_name: "Update", form_method: :update } %> -->
<%= form_for @trip, method: :update do |f| %>

  <%= f.label :driver%>
  <%= f.select :driver, options_for_select(@drivers) %>
  <%= f.label :user %>
  <%= f.select :user, options_for_select(@users) %>
  <%= f.label :rating %>
  <%= f.select :rating, options_for_select(1..5) %>

  <%= f.submit action_name %>
<% end %>
