
<h5> , please confirm your new trip details: </h5>
<%= form_for @trip do |f| %>
  <%= f.label :driver_id, 'Driver' %>
  <% driver = Driver.qual_driver[0] %>
  <%= f.select :driver_id, options_for_select([driver.id, driver.name]) %>

  <%= f.label :date %>
  <%= f.date_field :date, :value => Date.current %>

  <%= f.label :rider_id %>
  <%= f.select :rider_id, [@rider.name, @rider.id]%>

  <% f.label :rating %>
  <% f.number_field :rating, placeholder: nil %>

  <% f.label :cost %>
  <% f.number_field :cost, placeholder: 20 %>

  <%= f.submit %>

<% end %>

<h4><%= link_to "Rideshare home", trips_path %></h4>
