
<h5> , please confirm your new trip details: </h5>
<%= form_for [@trip, @rider] do |f| %>
  <%= f.label :driver_id, 'Driver' %>
  <% driver = Driver.qual_driver[0] %>
  <%= f.select :driver_id, options_for_select([driver.id.to_i, driver.name]) %>

  <%= f.label :date %>
  <%= f.select :date, "04/07/2017" %>

  <%= f.label :rider_id %>
  <%= f.select :rider_id, options_for_select([@rider.id, @rider.name])%>

  <%= f.label :rating %>
  <%= f.select :rating, ["Assign Rating when trip is complete", nil] %>

  <%= f.label :cost %>
  <%= f.select :cost, ["Final Cost given later", 0] %>

  <%= f.submit action_name %>

<% end %>

<h4><%= link_to "Rideshare home", trips_path %></h4>
