<h1>Create a new trip</h1>
<header>
<!-- render partial: header  -->
</header>


<%if @trip.rider.trips_rated?%>
<% if @trip.errors.any? %>
  <ul class=“errors”>
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
  <%= form_for ([@trip.rider, @trip]) do |f| %>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
    <%= f.submit value: "Create new trip" %>
  <% end %>
<%else%>
<p> You cannot create a new trip if previous trips are not rated. Go back and rate all trips</p>
<%= link_to "Back to rider", rider_path(@trip.rider.id)%>
<%end%>
