<h1>Trip Information</h1>

<h2>Trip # <%= @result_trip.id %> taken on <%= @result_trip.date %></h2>
<ul>
  <li>
    Driver: <%= link_to Driver.find(@result_trip.driver_id).name, driver_path(@result_trip.driver_id)  %>
  </li>
  <li>
    Passenger: <%= link_to Passenger.find(@result_trip.passenger_id).name, passenger_path(@result_trip.passenger_id) %>
  </li>
  <li>
    Rating: <%= @result_trip.rating %>
  </li>
</ul>

<%= link_to "Back to all trips", trips_path %>
<%= link_to "Edit this trip", edit_trip_path(@result_trip.id) %>
<%= button_to 'Delete', trip_path(@result_trip.id), method: :delete, data: { confirm: 'Are you sure?' } %>
