<h2>Trip # <%= @trip[:id] %></h2>
<h3>Driver: <%= @trip[:driver_id] %> <br> Passenger: <%= @trip[:passenger_id] %></h3>
<h3>Rating: <%= @trip[:rating] %> <br> Date: <%= @trip[:date] %> <br> Price: <%= @trip[:price] %></h3>
