<% content_for :trips do %>
   <section class="yield">
      <h1 class="title">Trip <%= "#{@trip.id}" %></h1>
      <ul class="list">
        <li><span>Date:</span> <%= @trip.date %> </li>
        <li><span>Cost:</span> <%= @trip.cost %> </li>
        <li><span>Rating:</span> <%= @trip.rating == nil || @trip.rating == "" ? "Not yet rated." : @trip.rating %> </li>
        <li><span>Driver:</span> <%= @trip.driver.name %> </li>
        <li><span>Passenger:</span> <%= @trip.passenger.name %> </li>
      </ul>

      <p><%= button_to "Edit", edit_trip_path, method: :get %></p>
      <p>
         <%=
            button_to "Delete", driver_path, method: :delete,
            data: { confirm: "Are you confident you'd like to delete this trip?" },
            method: :delete
         %>
      </p>
   </section>
<% end %>
