<h1>Trip Info</h1>
<h2>Trip id</h2> <%= @trip.id %>
<h2>Trip rider</h2> <%= @trip.rider.name %>
<h2>Trip driver</h2> <%= @trip.driver.name %>
<h2>Trip cost</h2> <%= @trip.cost %>
<h2>Trip rating</h2> <%= @trip.rating %>
