<h2>
 <%= "Trip #{@trip.id}" %>
</h2>

<%= link_to "Driver: #{@trip.driver_id}", driver_path(@trip.driver_id) %>
<%= link_to "Rider: #{@trip.rider_id}", rider_path(@trip.rider_id) %>
<%= "Trip: #{@trip.id}  Rating: #{@trip.rating} " %>

<%= button_to "Edit", edit_trip_path(@trip.id), method: :get%>

<%= button_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete this trip?" } %>
