<% content_for :trips do %>
     <section class="details">
          <h1>Trip <%= "#{@trip.id}" %></h1>
          <p>Date: <%= @trip.date %></p>
          <p>Cost: <%= @trip.cost %></p>
          <p>Rating: <%= @trip.rating %></p>
          <p>Driver: PLACEHOLDER</p>
          <p>Passenger: PLACEHOLDER</p>
          <p>
            <%= link_to "Edit Trip #{@trip.id}", edit_trip_path %> |
            <%=
              link_to "Delete Trip #{@trip.id}", trip_path,
              data: { confirm: "Are you sure you want to delete this trip?" },
              method: :delete
            %>
          </p>
     </section>
<% end %>
