<h1>Trip #<%= @trip.id %> Details</h1>

<ul>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id), method: :get %></li>
  <li>Rider: <%= link_to @trip.rider.name, rider_path(@trip.rider.id), method: :get %></li>
  <li>Date: <%= @trip.date %></li>
  <li>Fare: $<%= @trip.fare %></li>
  <li>Rating: <%= @trip.rating %></li>
</ul>
