<h1>Trip #<%= @trip.id %> Details</h1>

<ul>
  <li>Driver: <%= @trip.driver.name %></li>
  <li>Rider: <%= @trip.rider.name %></li>
  <li>Date: <%= @trip.date %></li>
  <li>Fare: $<%= @trip.fare %></li>
  <li>Rating: <%= @trip.rating %></li>
</ul>

<%= link_to "<<", trips_path, method: :get %>
