<h2><%= @trips[:trip_id] %></h2>
<h3><%= @trips[:driver_id] %></h3>
<h4><%= @trips[:passenger_id] %></h4>
<h4><%= @trips[:date] %></h4>
<h4><%= @trips[:rating] %></h4>


<%= link_to "Return to List of Trip", trips_path %>
