<h2>
 <%= "Trip #{trip.id}" %>
</h2>

<%= link_to "Driver_ID", driver_path(@driver.id) %>



<%= button_to "Edit", edit_rider_path(@rider.id), method: :get%>
<%= button_to "Delete", rider_path(@rider.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@rider.name}?"} %>

<%= button_to "Add new trip", new_rider_trip_path(@rider.id), method: :get%>
