<ul>
  <% @passenger.errors.each do |field, msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>


<%= form_for @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.submit %>
<% end %>
