<% content_for :passengers do %>
     <section class="yield">
          <h1 class="title"><%= @passenger.name %></h1>
          <ul class="list">
               <li><span>Passenger Name:</span> <%= @passenger.name %></li>
               <li><span>Phone Number:</span> <%= @passenger.phone %></li>
               <ul class=><span>Trips:</span> <% @passenger.trips.map do | trip | %>
                    <li>
                         Trip #<span><%= trip.id %></span> with driver <span><%= trip.driver.name %></span>  on <span><%= trip.date %></span> .
                         <% end %>
                    </li>
               </ul>
               <p>
                    <%= button_to "Edit", edit_passenger_path, method: :get %>
                    <%=button_to "Delete", passenger_path,
                         data: { confirm: "Are you sure you want to delete this passenger?" },
                         method: :delete
                    %>
               </p>
          </ul>
     </section>
<% end %>
