<% content_for :passengers do %>
     <section class="yield">
          <h1 class="title"><%= @passenger.name %></h1>
            <ul class="list">
              <li><span>Passenger Name:</span> <%= @passenger.name %></li>
              <li><span>Phone Number:</span> <%= @passenger.phone %></li>
            </ul>

            <p>
              <%= button_to "Edit", edit_passenger_path, method: :get %>
              <%=
                button_to "Delete", passenger_path,
                data: { confirm: "Are you sure you want to delete this passenger?" },
                method: :delete
              %>
            </p>
     </section>
<% end %>
