<h1>Passenger Details</h1>

<ul>
  <li>Name: <%= @result_passenger.name %></li>
  <li>Phone number: <%= @result_passenger.phone_num %></li>
</ul>

<%= link_to "Add A Trip", new_passenger_trip_path(@result_passenger.id) %>

<% @result_passenger.trips.each do |trip| %>
  <p>
    <%= link_to "Trip #{trip.id} taken on #{trip.date}", passenger_trip_path(trip.passenger_id, trip.id) %>
  </p>
<% end %>

<p>
  <%= link_to "Back to Passenger List", passengers_path %>
  <%= link_to "Edit", edit_passenger_path(@result_passenger.id) %>
  <%= button_to 'Delete', passenger_path(@result_passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
