<h2>
  <%= "Who Rides With Us? The answer is  #{@rider.name.upcase}!" %>
</h2>

<%= "Name:  #{@rider.name}" %> <br>
<%= "Phone: #{@rider.phone_num}" %>

<%= button_to "Edit", edit_rider_path(@rider.id)%>
<%= button_to "Delete", rider_path(@rider.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@rider.name}?"} %>
