<section id = "show_section">

    <h1 class="table_link">
      <%= @rider.name%></br></br>
    </h1>

    <p class="header">
      Trip Average : <%= @rider.average_rating%></p></br>
      <p class="header">
      Phone Number : <%= @rider.phone_num%></p></br></br>
    </p>

    <table class="listing" summary="Riders Trip List">

      <tr class="header">
        <th>Driver Name</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Show Trip</th>

      </tr>

      <% @rider.trips.each do |trip| %>
      <tr>
        <td><%= trip.driver[:name] %></td>
        <td><%= trip[:date] %></td>
          <td><%= trip[:rating] %></td>
          <td>
            <%= link_to "Show", trip_path(trip), class: "button_link" %>
          </td>






      </tr>
      <% end %>
    </table></br></br></br>



    <div class="table_link">
    <%= link_to "Add Trip", new_trip_path, class: "button_link"%>
    </div>


    <%#= link_to image_tag("left1.png", alt: "Back button", class: "button_image"), animals_path%>
    <%#= link_to image_tag("edit1.png", alt: "Edit button", class: "button_image"), edit_animal_path%>
    <%#= link_to image_tag("delete_blue1.png", alt: "Delete button", class: "button_image"), animal_path,
    data: {method: :delete, confirm: "Are you sure you want to remove #{@animal.name} from the list?"}%>
  </section>
