<h2>Name: <%= @rider.name %></h2>
<p>Phone: <%= @rider.phone %></p>
<p>Total Charged: $<%= (@rider.total_cost(@rider.id)/100.00).to_f.round(2)%></p>
<!-- NOT CENTS -->

<h2>Trips Taken: <%= @rider.trips.length %> </h2>
<ul>
  <% @rider.trips.each do |trip| %>
    <li><p> Date Taken: <%= link_to trip.date, trip_path %></p>

  <% end %>
</ul>
<h2><%= link_to "{Add a Trip}", new_trip_path %></h2>
<h2><%= link_to "{Edit this Rider}", edit_rider_path %> </h2>
<h2><%= link_to "{Delete this Rider}", rider_path(@rider.id), data: { confirm: "Are you sure you want to delete this rider profile?"}, method: :delete %> </h2>
