<h1>Rider Info</h1>
<h2>Name:</h2> <%= @rider.name %>
<h2>Phone:</h2> <%= @rider.phone_num %>
<h2>Trips:</h2>
<table>
  <tr>
    <th> Trip id </th>
    <th> Driver id </th>
    <th> Rating </th>
  </tr>
  <% @rider.trips.each do |trip| %>
    <tr>
      <td> <%= trip.id %> </td>
      <td> <%= link_to trip.driver_id, driver_path(trip.driver.id) %> </td>
      <td> <%= trip.rating %> </td>
      </li>
    </tr>
  <% end %>
</table>
