<h1>Rider Info</h1>
<h2>Name:</h2> <%= @rider.name %>
<h2>Phone:</h2> <%= @rider.phone_num %>
<h2>Trips:</h2>
<ul>
<% @rider.trips.each do |trip| %>
    <li>
        Trip id: <%= trip.id %>
        Driver id: <%= link_to rider.trip.name, driver_path(trip.driver.id) %>
        Rating: <%= trip.rating %>
    </li>
<% end %>
</ul>
