<article class="show">
  <h1>Rider Info</h1>


  <h2>Name: <%= link_to @rider.name, rider_path(@rider.id) %>
  </h2>
  <h2>Phone: <%= @rider.phone_num %></h2>
  <h2>Total cost: <%= @rider.total_cost %></h2>

  <%= link_to "START NEW TRIP!", create_trip_path, method: :post  %>
  <%= link_to "EDIT TRIP", edit_rider_path(@rider.id) %>
  <%= link_to "DELETE TRIP", rider_path(@rider.id),
  data: { confirm: "Are you sure you want to delete this rider?" },
  method: :delete %>


  <h4>Past Trips</h4>
    <ul>
      <% @rider.trips.each do |trip| %>
      <li><%= link_to trip.date, trip_path %> <%= trip.cost %> <%= trip.rating %></li>
      <% end %>
    </ul>
  </section>



  <%# update create method to automatically assign price for trip, and automatically assign rider and driver
  <%#form_for @trip do |f|
  <%#f.label :rating
  <%#f.select :rating, [1, 2, 3, 4, 5] %>
  <%#f.submit %>
  <%#end %>

</article>
