
<%= form_for @driver do | f | %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.submit %>

<% end %>

<ul>
  <%= @driver.errors.each do | field, msg | %>
  <li>
    <%= field %> <%= msg %>
  </li>
  <% end %>
</ul>
