<section>
  <%= form_for @driver do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vin %>
    <%= f.text_field :vin %>

    <%= f.submit value: "#{submit_text}" %>

  <%end%>
</section> 
