
<section>
  <% if @driver.errors.messages.length > 0 %>
    <h2> Unable to <%= text %>: </h2>

    <ul>
      <% @driver.errors.messages.each do |field, problem_list| %>
        <% problem_list.each do |problem| %>
          <li><%= field %> : <%= problem %></li>
        <% end %>
      <% end %>
    </ul>

  <% end %>
</section>

<section>
  <%= form_for @driver do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vin, "VIN" %>
    <%= f.text_field :vin %>

    <%= f.submit text.capitalize %>
  <% end %>
</section>
