<h2>Rideshare Drivers List</h2>

<ul>
 <% @drivers.each do |driver| %>
  <%= link_to driver.name, driver_path(driver.id) %>
 <% end %>
</ul>

<%= link_to "All Trips", trips_path %>
<%= link_to "All Passengers", passengers_path %>
<%= link_to "All Drivers", drivers_path %>
<%= link_to "Return to homepage", welcome_path %>
