<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<header>
<h2>Rideshare Drivers List</h2>

<%= link_to "Add a New Driver", new_driver_path %>
<%= link_to "All Trips", trips_path %>
<%= link_to "All Passengers", passengers_path %>
<%= link_to "All Drivers", drivers_path %>

</header>

<body>
<ul>
 <% @drivers.each do |driver| %>
  <li><%= link_to driver.name, driver_path(driver.id) %></li>
 <% end %>
</ul>

</body>
