<h1> Add a new Driver </h1>

<section>
  <%= form_for @driver do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :vin %>
    <%= f.text_field :vin %>

    <%= f.submit value:"Create" %>
  <% end %>
</section>
