

<header>
  <h1>Driver: <%= "#{@driver.name}" %></h1>
</header>

<main>
<<<<<<< HEAD
=======
  <h2>Info:</h2>
    <%= render partial: 'driver_info' %>

  <h3>Trips:</h3>
    <ul>
    <% @driver.trips.each do |trip| %>
         <li>Trip ID: <%= link_to "#{trip.id}", trip_path(trip.id) %>
      <% end %>
    </ul>
>>>>>>> 20ae28c6d8e191fedc03b24a64262f726cc9bf3f

  <%= render "shared/menu" %>
  <section>
    <h2>Info:</h2>
      <%= render partial: 'driver_info' %>

    <h3>Trips:</h3>
      <ul>
      <% @driver.trips.each do |trip| %>
           <li>Trip ID: <%= link_to "#{trip.id}", trip_path(trip.id) %>
        <% end %>
      </ul>

    <div>
      <p><%= link_to 'Edit Driver', edit_driver_path %></p>
      <p><%= link_to "Delete Driver",
              @driver, method: :delete,
              data: { confirm: "You sure?" } %></p>
    </div>
  </section>
</main>
