<section id = "show_section">

  <h1 class="table_link">
    <%= @driver.name%></br></br>
  </h1>



  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>

  <P class="header">
    Average rating : <%= @driver.average_rating %>
  </P>

  <p>
     <%= link_to "Back", drivers_path%>
     <%= link_to "Edit", edit_driver_path%>
     <%= link_to "Delete", driver_path,
     data: {method: :delete, confirm: "Are you sure you want to delete #{@driver.name} from the list?"}%>
   </p>

   <!-- TABLE -->

   <!-- <div class="tbl-header"> -->
   <div>
     <table cellpadding="0" cellspacing="0" border="0">
       <thead>

         <tr>
           <th>Name</th>
           <th>Date</th>
           <th>Rating</th>
           <th>Show Trip</th>

         </tr>
       </thead>
     </table>
   </div>
   <!-- <div class="tbl-content"> -->
   <div>
     <table cellpadding="0" cellspacing="0" border="0">
       <% @driver.trips.each do |trip| %>
       <tr>
         <td><%= trip.rider[:name] %></td>
         <td><%= trip[:date] %></td>
         <td><%= trip[:rating] %></td>
         <td>
           <%= link_to "Show", rider_trip_path(trip), class: "button_link" %>
         </td>

       </tr>
       <% end %>

     </table>
   </div>

 </section>
