<h1 class="header">Driver Details</h1>

<ul class="profile">
  <li><strong>Name: </strong><%= @result_driver.name %></li>
  <li><strong>VIN: </strong><%= @result_driver.vin %></li>
  <li><strong>Total Earned: </strong><%= @result_driver.total_cost %></li>
  <li><strong>Average Rating: </strong><%= @result_driver.average_rating %></li>
  <li><strong>Available: </strong>
    <% if @result_driver.available %>
        YES
    <% else %>
        NO
    <% end %>

    <% if @result_driver.available %>
          <%= button_to "Make Unavailable", available_driver_path(@result_driver.id), method: :patch, form_class: "toggle-button" %>
      <% else %>
          <%= button_to "Make Available", available_driver_path(@result_driver.id), method: :patch, form_class: "toggle-button" %>
    <% end %>
  </li>
</ul>

<ul>
  <% @result_driver.trips.each do |trip| %>
    <div class="trip-list">
      <li><strong>Trip ID: </strong><%= link_to trip.id, trip_path(trip.id) %></li>
      <li><strong>Passenger: </strong><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></li>
      <li><strong>Cost: </strong>$ <%= (trip.cost / 100.0).round(2) %></li>
      <li>
        <strong>Rating: </strong>
          <% if trip.rating == 0%>
          <%= "Not Rated" %>
          <% else %>
          <%= trip.rating %>
          <% end %>
      </li>
    </div>
    <% end %>
</ul>

<div class="options">
  <h4><%= link_to "All Drivers", drivers_path %></h4>
  <h4><%= link_to "Edit", edit_driver_path(@result_driver.id)%></h4>
  <h4><%= link_to "Delete", driver_path(@result_driver.id), data: { confirm: "Are you sure you want to delete this driver?" }, method: :delete %></h4>
</div>
