<section id = "show_section">
  <h1>
    Meet the driver <%= @driver.name%>!
  </h1>

    <%= @driver.name%> (vin: <%= @driver.vin%>)
  </p>
  <P>
    Average rating from passengers: <%= @driver.average_rating %>
  </P>
  <p id = "show_about_text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>

  <h3>
    List of <%= @driver.name%>'s passengers
  </h3>

  <table class="listing" summary="Riders Trip List">

    <tr class="header">
      <th>Name</th>
      <th>Date</th>
      <th>Rating</th>
    </tr>

    <% @driver.trips.each do |trip| %>
    <tr>
      <td><%= trip.rider[:name] %></td>
      <td><%= trip[:date] %></td>
      <td><%= trip[:rating] %></td>
    </tr>
    <% end %>

  </table>




  <p>
    <%= link_to "Back", drivers_path%>
    <%= link_to "Edit", edit_driver_path%>
    <%= link_to "Delete", driver_path,
    data: {method: :delete, confirm: "Are you sure you want to delete #{@driver.name} from the list?"}%>
  </p>
  </section>
