<link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
<h1><%= @driver[:name] %></h1>
<p>Vin: <%=@driver[:vin] %></p>

<p>Trips:<% @driver.trips.each do |trip| %>
  <!-- <%= link_to trip.driver.name, trip_path(trip.driver.id) %> -->
   <%= link_to trip.id, trip_path(trip.id)  %>
<%end %></p>



  <p><%= link_to "Back to Driver List", drivers_path %></p>
  <p><%= link_to "Home", welcome_path %></p>
