<% content_for :drivers do %>

     <section class="yield">
          <h1 class="title"> Driver </h1>
          <ul class="list">
               <li> <span> Driver Name: </span> <%= @driver.name %> </li>
               <li> <span> Driver VIN: </span> <%= @driver.vin %> </li>
               <li> <span> Driver Status: </span> <%= @driver.status ? "Available" : "Not Available"%> </li>
               <li><span> Average Rating: </span> <%= @driver.trips.average("rating") %></li>

          </ul>

          <p><%= button_to "Edit", edit_driver_path, method: :get %> </p>
          <p>
               <%=
                    button_to "Delete", driver_path, method: :delete,
                    data: { confirm: "Are you confident you'd like to delete this driver?" },
                    method: :delete
               %>
          </p>
     </section>
<% end %>
