<h2> Driver Number: <%= @driver[:id] %> </h2>
<h3> Name: <%= @driver[:name] %> <br>
     VIN: <%= @driver[:vin] %> <br>
</h3>

<h3> Trips: </h3>
<% @driver.trips.each do |trip| %>
  <%= link_to trip.id, trip_path(trip.id) %>
  <% end %>

<h3>Total Amount Earned: <%= @driver.total_amount_earned %> </h3>

<h3> Average Rating: <%= @driver.rating %> </h3>
