<h1> Driver <%= @driver.name %> </h1>
<section class="driver-details">

  <ul>
    <li>
      Name: <%= @driver.name %>
    </li>
    <li>
      VIN: <%= @driver.vin %>
    </li>
    <li>
      Total Earned: $<%= @driver.total_earned %>
    </li>
    <li>
      Average Rating: <%= @driver.average_rating %>
    </li>
  </ul>

</section>
<h2><%= @driver.name %>'s Trips</h2>
<section class="driver-trips">
  <% @driver.trips.each do |trip| %>
    <ul>
      <li>
        Date: <%= link_to trip.date, trip_path(trip.id) %>
      </li>
      <li>
        Rating: <%= trip.rating %>
      </li>
    </ul>
  <% end %>
  <% if @driver.trips.size == 0 %>
    <p>
      No trips found.
    </p>
  <% end %>
</section>

<section class="driver-nav">
  <ul>
    <li>
      <%= link_to "Edit Driver", edit_driver_path %>
    </li>
    <li>
      <%= link_to "Delete Driver", driver_path(@driver.id), method: :delete, data: {confirm: "Do you really want to delete this driver? All trips associated with the driver will also be deleted."} %>
    </li>
  </ul>
</section>
