<section id = "show_section">

  <h1 class="table_link">
    <%= @driver.name%></br></br>
  </h1>

  <%= @driver.name%> (vin: <%= @driver.vin%>)

  <P class="header">
    Trip Average : <%= @driver.average_rating %>
  </P>

  <table class="listing" summary="Riders Trip List">

    <tr class="header">
      <th>Name</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Show Trip</th>

    </tr>

    <% @driver.trips.each do |trip| %>
    <tr>
      <td><%= trip.driver[:name] %></td>
      <td><%= trip[:date] %></td>
        <td><%= trip[:rating] %></td>
        <td>
          <%= link_to "Show", rider_trip_path(trip), class: "button_link" %>
        </td>






    </tr>
    <% end %>
  </table></br></br></br>
