<h1>Meet your Driver</h1>
<h2>Driver id:</h2> <%= @driver.id %>
<h2>Name:</h2> <%= @driver.name %>
<h2>Vin:</h2> <%= @driver.vin %>
<h2>Trips:</h2>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Rider ID</th>
    <th>Rider Name</th>
    <th>Rating</th>
  </tr>
  <% @driver.trips.each do |trip| %>
  <tr>
    <td> <%= trip.id %> </td>
    <td> <%= trip.rider.id %> </td>
    <td> <%= link_to trip.rider.name, rider_path(trip.rider.id) %> </td>
    <td> <%= trip.rating %> </td>
  </tr>
  <% end %>
</table>
<%= link_to "Edit", edit_driver_path(@driver.id)%>
<%= link_to "Delete", driver_path(@driver.id), data: { confirm: "Are you sure you want to delete this driver?" }, method: :delete %>
<%= link_to "Home", root_path %>
