<main>


<h3>Driver: <%= @selected_driver.name %></h3>
<p>VIN: <%= @selected_driver.vin %></p>
<p>Average rating: <%= @selected_driver.average_rating %></p>
<p>Total net earnings to date: $<%= @selected_driver.total_earnings %></p>

<h4>Trips Driven: <%= @selected_driver.trips.length %></h4>
<ul><% @selected_driver.trips.each do |trip| %>
  <li><%=link_to "Trip #{trip.id}", trip_path(trip.id) %></li>
  <% end %>
</ul>

<h4>{<%= link_to "{Edit Driver}", edit_driver_path %>}</h4>
<h4>{<%= link_to "{De-activate Driver}", update_active_driver_path, data: { confirm: "This driver will no longer be available"}, method: :patch %>}</h4>

</main>
