<article class="show">
  <h1>Driver Details</h1>


  <h2> Name: <%= @result_driver.name %> </h2>
  <h2> VIN: <%= @result_driver.vin %> </h2>
  <h2> Available? <%= @result_driver.availability %> </h2>
  <h2> This Driver's Average Rating: <%= @result_driver.avg_rating %> </h2>
  <h2> Total Earnings: $<%= @result_driver.total_earnings %> </h2>

  <%= link_to "Edit", edit_driver_path(@result_driver.id) %>
  <%= link_to "Delete", driver_path(@result_driver.id), data: { confirm: "Are you sure you want to delete" }, method: :delete %>

  <section class="scroll">
    <h4>Past Trips</h4>
    <ul>
      <% @result_driver.trips.each do |trip| %>
      <li><%= trip.date %> <%= trip.cost %> <%= trip.rating %></li>
      <% end %>
    </ul>

  </section>


</article>
