<h1>Driver Details</h1>

<% if @result_driver.trips.length == 0 %>
  <h4>This driver is trip-less :(</h4>
<% else %>
  <h4>Average Rating: <%= @result_driver.average_rating %></h4>
<% end %>

<ul>
  <li>Name: <%= @result_driver.name %></li>
  <li>Driver id: <%= @result_driver.id %></li>
  <li>Vin: <%= @result_driver.vin %></li>
</ul>

<% @result_driver.trips.each do |trip| %>
  <p>
    <%= link_to "Trip #{trip.id} driven on #{trip.date}", driver_trip_path(trip.driver_id, trip.id) %>
  </p>
<% end %>

<p>
  <%= link_to "Back to Driver List", drivers_path %>
  <%= link_to "Edit", edit_driver_path(@result_driver.id) %>
  <%= button_to 'Delete', driver_path(@result_driver.id), method: :delete, data: { confirm: 'Are you sure?' } %>

</p>
