<h1>Driver Details</h1>

<ul>
  <li> Name: <%= @result_driver.name %> </li>
  <li> VIN: <%= @result_driver.vin %> </li>
  <li> Available? <%= @result_driver.availability %> </li>
  <li> <%= @result_driver.avg_rating %> </li>
</ul>

<%= link_to "Edit", edit_driver_path(@result_driver.id) %>

<%= link_to "Delete", driver_path(@result_driver.id), data: { confirm: "Are you sure you want to delete" }, method: :delete %>
