<header>
<h1>Driver Info</h1>
</header>

<main>
  <h2>Info:</h2>
  <ul>
    <li>Name: <%= @driver[:name] %></li>
    <li>Vin: <%= @driver[:vin] %></li>
  </ul>

  <p><%= link_to 'Edit Driver', edit_driver_path %></p>

</main>

<footer>
  <p><%= link_to 'Drivers', drivers_path %></p>
  <p><%= link_to 'Back', :back %></p>
</footer>
