<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "RideShare", root_path %></h1>
    <h1><%= link_to "Create new passenger", new_passenger_path %></h1>
    <h1><%= link_to "Create new driver", new_driver_path %></h1>
    <h1><%= link_to "List all passengers", passengers_path %></h1>
    <h1><%= link_to "List all drivers", drivers_path %></h1>
    <%= yield %>
  </body>
</html>
