<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Righteous|Lato' %>
  </head>

  <body>
      <section class="drivers">
           <section class="branding-placeholder"></section>
          <nav>
              <ul>
                  <li class="driver-button"><%= link_to "Drivers", drivers_path %></li>
                  <li class="driver-button"><%= link_to "Add Driver", new_driver_path %></li>
              </ul>
          </nav>
          <% if @driver_content %>
            <%= yield :drivers %>
          <% else %>
              <section class="yield">
                   <h1 class="title">Drivers</h1>
                   <ul class="list">
                        <% @drivers.each do |driver| %>
                             <li> <%= link_to driver.name, driver_path(driver.id) %> </li>
                        <% end %>
                   </ul>
              </section>
          <% end %>
          <nav>
              <ul>
                  <li class="driver-button"><%= link_to "Drivers", drivers_path %></li>
                  <li class="driver-button"><%= link_to "Add Driver", new_driver_path %></li>
              </ul>
          </nav>
      </section>
      <section class="trips">
          <section class="branding">
               <%= link_to root_path do %>
                    <%= image_tag "hitch-icon.png"%>
               <% end %>
          </section>
          <nav>
              <ul>
                  <li class="trip-button"><%= link_to "Trips", trips_path %></li>
                  <li class="trip-button"><%= link_to "Add Trip", new_trip_path %></li>
              </ul>
          </nav>
          <% if @trip_content %>
            <%= yield :trips %>
          <% else %>
            <section class="yield">
              <h1 class="title">Trips</h1>
              <ul class="list">
                 <% @trips.each do |trip| %>
                    <li> <%= link_to "Trip #{trip.id}", trip_path(trip.id) %> </li>
                 <% end %>
              </ul>
            </section>
          <% end %>
          <nav>
              <ul>
                  <li class="trip-button"><%= link_to "Trips", trips_path %></li>
                  <li class="trip-button"><%= link_to "Add Trip", new_trip_path %></li>
              </ul>
          </nav>
      </section>
      <section class="passengers">
           <section class="branding-placeholder"></section>
          <nav>
              <ul>
                  <li class="passenger-button"><%= link_to "Passengers", passengers_path %></li>
                  <li class="passenger-button"><%= link_to "Add Passenger", new_passenger_path %></li>
              </ul>
          </nav>
          <% if @passenger_content %>
            <%= yield :passengers %>
          <% else %>
            <section class="yield">
              <h1 class="title">Passengers</h1>
              <ul class="list">
                 <% @passengers.each do |passenger| %>
                    <li><%= link_to passenger.name, passenger_path(passenger.id) %> </li>
                 <% end %>
              </ul>
            </section>
          <% end %>
          <nav>
              <ul>
                  <li class="passenger-button"><%= link_to "Passengers", passengers_path %></li>
                  <li class="passenger-button"><%= link_to "Add Passenger", new_passenger_path %></li>
              </ul>
          </nav>
      </section>
  </body>
</html>
